.wrapper{
    width: 100vw;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FFFFFF;
    background-image: url("/assets/images/login-bg.png");
    background-repeat: repeat;
    background-size: contain;
}

.card{
    width: 27rem;
    height: 27.813rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: -8px 0px 0px #0000001A;
    border: 2px solid #3E3E3E;
    opacity: 1;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 3rem;
}

.title{
    font-size: 32px;
    text-align: left;
    font-family: Nexa-Bold;
    letter-spacing: 0px;
    color: #231F20;
    text-transform: uppercase;
    opacity: 1;
}

.login-label{
    text-align: left;
    font-family: Nexa-Bold;
    font-size: 16px;
    letter-spacing: 0px;
    color: #231F20;
    opacity: 1;
    padding-bottom: 3px;
}

.input{
    width: 296px;
    height: 48px;
    font-family: Nexa-Bold;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #3E3E3E;
    opacity: 1;
}

.form-check-label{
    text-align: left;
    font-family: Nexa-Bold;
    font-size: 16px;
    letter-spacing: 0px;
    color: #0092B8;
    opacity: 1;
    cursor: pointer;
}

.btn-primary{
    width: 208px;
    height: 48px;
    background-color: #0092B8!important;
    border-color: #0092B8!important;
    border-radius: 8px!important;
    opacity: 1;
    //Fuente
    text-align: center;
    font-family: Nexa-Bold;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.btn-primary:hover {
    background-color: #017895!important;
    border-color: #017895!important;
}