<section class="registro-producto">
    <div class="wrapper">
        <div class="section-registro-producto">

            <div class="header-registro-producto">
                <div class="icono-regreso">
                    <mat-icon class="icon-back" (click)="regresar()">arrow_back</mat-icon>
                </div>
                <span class="title">Registro de productos</span>
                <div class="icono-home">
                    <mat-icon class="icon-home" (click)="regresar()">home</mat-icon>
                </div>
            </div>
    
            <div class="body-registro-producto">
                <div class="imagenes">
                    <img src="/assets/images/gato-carro.jpg" class="imagen-gato">
                </div>
                
                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>ID</mat-label>
                    <input matInput [(ngModel)]="producto.id" name="id" placeholder="Escribe el ID del producto">
                </mat-form-field>
                <div *ngIf="errors.id" class="invalid-feedback"> {{ errors.id }} </div>

                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Nombre del producto</mat-label>
                    <input matInput [(ngModel)]="producto.nombre_producto" placeholder="Escribe el nombre del producto">
                </mat-form-field>
                <div *ngIf="errors.nombre_producto" class="invalid-feedback"> {{ errors.nombre_producto }} </div>

                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Precio</mat-label>
                    <input matInput [(ngModel)]="producto.precio" mask="000.00" prefix="$" placeholder="Escribe el precio del producto">
                </mat-form-field>
                <div *ngIf="errors.precio" class="invalid-feedback"> {{ errors.precio }} </div>

                <mat-form-field class="mat-input" appearance="outline">
                    <mat-label>Departamento</mat-label>
                    <input matInput [(ngModel)]="producto.departamento" placeholder="Escribe el deparamento del producto">
                </mat-form-field>
                <div *ngIf="errors.departamento" class="invalid-feedback"> {{ errors.departamento }} </div>

                <div class="botones-registro-producto">
                    <button class="btn btn-danger" (click)="regresar()">Cancelar</button>
                    <button class="btn btn-primary" type="submit" (click)="registrar()">Registrar</button>
                </div>

            </div>
        </div>
    </div>
</section>
